@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  /* overflow: hidden; */
}
:root {
  --main-color: #f648a2;
  --text-color: rgba(60, 53, 79, 1);
}
/* The shared section */

/* The nav section */

.nav-container {
  width: auto;
  /* height: 130px; */
  display: flex;
  justify-content: space-between;
  padding: 25px 240px;
  background-color: rgba(255, 255, 255, 10);
}
.nav-left,
.nav-center,
.nav-right {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.game {
  width: 80px;
  height: 40px;
}
.youtube {
  width: 38px;
  height: 24px;
}
.tik-tok {
  width: 25px;
  height: 25px;
}
.nav-right {
  width: 260px;
  height: 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px;
}
.nav-left h3 {
  font-size: 3rem;
  font-weight: 700;
}
.nav-left span {
  color: var(--main-color);
}
.nav-center a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}
/* The banner section */
.banner {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  background: rgb(250, 235, 215, 0.4);
}
.banner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 700px;
  border-radius: 10px;
  background-color: rgb(250, 235, 215, 0.4);
  background-image: url(/images/Group\ 14.png);
  background-blend-mode: multiply;
}
.banner-content {
  width: max-content;
  height: max-content;
}
.banner-content h3 {
  font-size: 3rem;
  font-weight: 600;
}
.banner-content h2 {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-support {
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-support p {
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 10px;
}
.common-btn,
.blue-btn {
  color: #fff;
  padding: 20px 40px;
  border-radius: 30px;
  margin: 15px;
  border: none;
  background-color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.blue-btn {
  background-color: rgba(78, 197, 247, 1);
}

.buttom-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* the gamer style */
.gamer {
  display: flex;
  width: auto;
  height: 600px;
  align-items: center;
  justify-content: center;
  gap: 52px;
  padding: 0px 240px;
  background-color: rgba(78, 197, 247, 0.1);
}

.gamer-content {
  text-align: right;
}
.gamer-content h3 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.common-text {
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: 1.8rem;
  margin-top: 10px;
}
.gamer-content .purpose {
  font-size: 1.3rem;
}
.gamer-content .purpose span {
  font-weight: 800;
  font-size: 1.5rem;
}
/* the card style */
.card-content h3 {
  text-align: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: black;
  margin: 30px 0px 10px 0px;
}
.card-content span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-content p {
  text-align: center;
}

.hover {
  padding-top: 170px;
  text-align: center;
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
}
.card-2 {
  margin-right: -9999px;
  overflow: hidden;
}
.card-2:hover {
  margin: auto;
}
.card-1 {
  margin-left: -999px;
}
.card-1:hover {
  margin: auto;
}
.card-3 {
  margin-right: -8888px;
}
.card-3:hover {
  margin: auto;
}
.card-4 {
  margin-right: -7777px;
}
.card-4:hover {
  margin: auto;
}
.card {
  display: flex;
  gap: 30px;
  padding: 30px 240px;
  overflow-x: hidden;
}
.play-card {
  width: 350px;
  height: 400px;
  border-radius: 10px;
}

.one {
  background-image: url(/images/Rectangle\ 4.png);
  background-size: cover;
}
.two {
  background-image: url(/images/Rectangle\ 5.png);
  background-size: cover;
}
.three {
  background-image: url(/images/Rectangle\ 7.png);
  background-size: cover;
}
.four {
  background-image: url(/images/Rectangle\ 6.png);
  background-size: cover;
}
.play-card:hover {
  background-color: rgb(17, 16, 16, 0.3);
  background-blend-mode: multiply;
}
.card p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 23px;
}
/* the play section style */
.play {
  display: flex;
  justify-content: space-evenly;
  padding: 130px 200px 100px 370px;
  gap: 100px;
  height: 630px;
}
.play-content {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 500px;
  align-items: center;
  justify-content: center;
}
.play-content h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 60px;
  margin: 20px;
}
.play-content h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tomy {
  position: relative;
  bottom: 280px;
  right: 150px;
}

/* media query for style */
@media screen and (max-width: 576px) {
  .nav-container,
  .nav-center {
    flex-direction: column;
    padding: 0px;
  }
  .nav-left {
    padding-bottom: 20px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-box {
    width: 450px;
    height: auto;
  }
  .banner-img {
    width: 90%;
    padding: 50px;
    overflow: hidden;
  }
  .banner-box {
    margin: 0 auto;
  }
  .buttom-img {
    justify-content: space-evenly;
    align-items: right;
  }
  .fight-img,
  .tree-img {
    width: 280px;
    height: 200px;
  }
  .gamer {
    flex-direction: column;
    padding: 0px;
    height: 1000px;
  }
  .gamer-img {
    width: 100%;
    padding-top: 30px;
  }
  .gamer-content {
    text-align: center;
  }
  .card {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .play {
    flex-direction: column;
    padding-right: 0px;
    height: auto;
    padding-left: 60px;
  }
  .play-img {
    width: 80%;
    padding: 0px;
  }
  .play-content {
    text-align: center;
  }
  .tomy {
    height: 170px;
    right: 40px;
    width: 150px;
    bottom: 120px;
  }
}
/* medium device */
@media screen and (min-width: 576px) and (max-width: 922px) {
  .nav-container,
  .nav-center {
    flex-direction: column;
    padding: 0px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-box {
    margin: 0 auto;
    width: 100%;
  }
  .banner-img {
    width: 100%;
  }
  .buttom-img {
    justify-content: space-evenly;
  }

  .gamer {
    flex-direction: column;
    padding: 0px;
    height: 1000px;
  }
  .gamer-img {
    width: 100%;
    padding-top: 40px;
  }
  .gamer-content {
    text-align: center;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 50px;
  }
  .play {
    flex-direction: column;
    padding: none;
    align-items: last baseline;
    height: 1000px;
  }
  .play-content {
    text-align: center;
  }
  .play-img {
    width: 200%;
    padding: 0px;
  }
  .tomy {
    height: 200px;
    right: 40px;
    width: 180px;
    bottom: 140px;
  }
}
